<div class="container">
  <h2>Ajouter un nouveau jeu</h2>
  <button routerLink="/home" class="btn-back">⬅️ Retour Accueil</button>
  @if (successMessage) {
    <div style="color: green; margin-bottom: 10px;">
      {{ successMessage }}
    </div>
  }

  @if (errorMessage) {
    <div style="color: red; margin-bottom: 10px;">
      {{ errorMessage }}
    </div>
  }

  <form (ngSubmit)="onSubmit()">

    <div>
      <label for="nom">Nom du jeu :</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="game.nom" required>
    </div>

    <div>
      <label for="temps">Temps estimé (minutes) :</label>
      <input type="number" id="temps" name="temps" [(ngModel)]="game.tempsEstimer" min="0" required>
    </div>

    <div>
      <label for="support">Support :</label>
      <select id="support" name="support" [(ngModel)]="game.supportId" required>
        @for (support of supports; track support.id) {
          <option [value]="support.id">
            {{ support.nom }}
          </option>
        }
      </select>
    </div>

    <button type="submit">Créer le jeu</button>

  </form>
</div>
